/* Define your dark and light theme styles here */
body.dark-mode {
    /* Dark theme styles */
    background-color: #333;
}

/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    color: #333;
}
iframe {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 450px;
    border: none;
}

/* Header */
.highlight-section {
    text-align: center;
    background-color: #4a90e2;
    color: white;
    padding: 20px 0;
}