/* Define your dark and light theme styles here */
body.dark-mode {
    /* Dark theme styles */
    background-color: #333;

}
.dark-mode .gray-area {
    background-color: #333; /* 例如: #555 或 #707070 */
}


/* Light theme styles are the default */



/* Toggle Switch Style */
.theme-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
}

:root {
    /* Light theme colors */
    --background-color: #fff;
    --text-color: #333;
    --button-bg-color: #4a90e2;
    --button-text-color: white;
    --button-hover-bg-color: #357ab8;
}

[data-theme="dark"] {
    /* Dark theme colors */
    --background-color: #333;
    --text-color: #fff;
    --button-bg-color: #555;
    --button-text-color: #ddd;
    --button-hover-bg-color: #777;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* ... rest of your body styles ... */
}

/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    color: #333;
}

/* Header */
.highlight-section {
    text-align: center;
    background-color: #4a90e2;
    color: white;
    padding: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* Navigation */
.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
}

.nav-button:hover {
    background-color: #357ab8;
}

/* Gray Area */
.gray-area {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#file-input {
    margin-bottom: 10px;
}

#upload-button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#upload-button:hover {
    background-color: #357ab8;
}

#preview-frame {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
}

